@using VkNet;

@{
    VkApi vk = (VkApi)Session["VkApi"];
    string userName = "";
    if (vk != null)
    {
        userName = vk.Account.GetProfileInfo().FirstName;
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <a href="Home/Friends"><h1>ТЕКСТ</h1></a>
    <div class="navbar navbar-inverse navbar-fixed-top main-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VK Analyses", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:white;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { style = "color:white;" })</li>
                    @if (!string.IsNullOrEmpty(userName))
                    {
                        @*<li>@Html.ActionLink("О программе", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>*@
                        <li>@Html.ActionLink("Друзья", "Friends", "Home", new { style = "color:white;" })</li>
                      //  <li>@Html.Action("","Worker","PublicationWorker")</li>
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                                Работа с аккаунтом
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Работа со страницей", "PageWorker", "Worker", new { area = "" }, new { style = "color:black;" })
                                </li>
                                <li>
                                    @Html.ActionLink("Работа со стеной", "PublicationWorker", "Worker", new { area = "" }, new { style = "color:black;" })
                                </li>
                            </ul>
                        </li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
